:root {
    --vp-sidebar-width: 300px;
    --vp-c-brand-1: #747bff;
    --vp-c-brand-2: #a855f7;
    /* --vp-home-hero-name-color: transparent; */
    --vp-home-hero-name-background: -webkit-linear-gradient(180deg, var(--vp-c-brand-2), var(--vp-c-brand-1));
}

.adb-auth-required {
    color: #ffd27f;
    padding:4px;
}